<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="My.mapper.StudentMapper">
    <!--public Employee getEmpById(Integer id);-->

    <!--public void insertEmp(Employee employee);-->

    <!--public void deleteStu(Integer id);-->

    <select id="getAll" resultType="My.entities.Student">
        select id,stuId,stuName,gender,birth,deptName,phoneNumber,QQ,email from stuInformation
    </select>

    <select id="getStuById" resultType="My.entities.Student">
        select * from stuInformation where id=#{id}
    </select>

    <select id="getStuByStuId" resultType="My.entities.Student">
        select * from stuInformation where stuId=#{stuId}
    </select>

    <select id="getStuIdByName" resultType="String">
        select stuId from stuInformation where stuName=#{stuName}
    </select>

    <select id="getStuMonitors" resultType="My.entities.Student">
        SELECT stuId,stuName from stuinformation where stuId in(SELECT stuId from role WHERE role='monitor')
    </select>

    <select id="getStuNotMonitors" resultType="My.entities.Student">
        SELECT stuId,stuName from stuinformation where stuId not in(SELECT stuId from role WHERE role='monitor')
    </select>

    <insert id="insertStu">
        insert into stuInformation(stuId,stuName,gender,deptName,birth,phoneNumber,QQ,email) values(#{stuId},#{stuName},#{gender},#{deptName},#{birth},#{phoneNumber},#{QQ},#{email})
    </insert>

    <update id="updateStu">
        update stuInformation set stuId=#{stuId},stuName=#{stuName},gender=#{gender},deptName=#{deptName},birth=#{birth},phoneNumber=#{phoneNumber},QQ=#{QQ},email=#{email} where id=#{id}
    </update>

    <update id="dismissMonitor">
        UPDATE role SET role='student' WHERE stuId=#{stuId}
    </update>

    <update id="appointMonitor">
        UPDATE role SET role='monitor' WHERE stuId=#{stuId}
    </update>

    <delete id="deleteStu">
        delete from stuInformation where id=#{id}
    </delete>

</mapper>